.main_login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: calc(100vh - 105px);
  background-color: #336666;
}

.main_login_container img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.section_container_login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
}

.section_container_login_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 350px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
}

.section_container_login_form label {
  font-size: 20px;
  font-weight: 800;
  width: 30%;
  text-align: start;
  margin: 10px 0 10px 0;
}

.section_container_login_form input {
  width: 60%;
  padding: 5px;
  background-color: #eeeecc;
  border: 2px solid #cccc88;
  outline: none;
}

.section_container_login a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 25px;
  text-decoration: none;
  margin: 10px 0 10px 0;
  color: #fff;
}

.section_container_login_form button {
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}
