.main_game_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background-color: #336666;
}

.players_score_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 200px;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 5px solid #cccc88;
}

.player_score_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: calc(100% - 20px);
  height: auto;
  border-bottom: 2px solid #000;
  margin: 10px;
  position: relative;
}

.player_score_container_information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 75%;
  height: auto;
}

.player_score_container_information h2 {
  font-size: 25px;
}

.player_score_container_information h3 {
  font-size: 20px;
}

.player_score_container .pincel_guess {
  width: 25%;
  height: auto;
  object-fit: cover;
  padding: 10px;
}

.player_score_container .image_guess {
  position: absolute;
  width: 25px;
  height: auto;
  object-fit: cover;
  left: 0;
  top: 0;
}

.canvas_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 810px;
  height: 100%;
  border-radius: 10px;
  border: 5px solid #cccc88;
}

.canvas_container_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #cc3333;
}

.canvas_container_title h2 {
  font-size: 20px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid #cccc88;
  position: absolute;
  left: 10px;
}

.canvas_container_title_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 400px;
  height: auto;
}

.canvas_container_title_header h3 {
  font-size: 15px;
  color: #fff;
  letter-spacing: 2px;
}

.canvas_container_title h1 {
  font-size: 20px;
  color: #fff;
  letter-spacing: 10px;
  margin-top: 20px;
}

.canvas_container_toolbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
  height: 50px;
  position: relative;
  background-color: #8b2828;
  padding: 10px;
}

.canvas_container_toolbox h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.canvas_container_toolbox button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 10px;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #cccc88;
  cursor: pointer;
  margin: 0 5px 0 5px;
}

.canvas_container_toolbox span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 10px;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #cccc88;
  cursor: pointer;
  margin: 0 5px 0 5px;
}

.canvas_container_toolbox input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #cccc88;
  cursor: pointer;
  margin: 0 5px 0 5px;
}

.canvas_container canvas {
  background-color: #fff;
}

.chat_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 400px;
  height: 100%;
  border: 5px solid #cccc88;
  border-radius: 10px;
  background-color: #fff;
}

.chat_container_messages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  width: 100%;
  height: 85%;
  overflow: auto;
  padding: 10px;
}

.chat_container_messages h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.chat_container_input {
  display: flex;
  width: 100%;
  height: 15%;
}

.chat_container_input input {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  outline: none;
  margin: 30px;
  border: 3px solid #cccc88;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
